<p>
  <b>Key:</b>
  <%=h @measurement.key %>
</p>

<p>
  <b>Value:</b>
  <%=h @measurement.value %>
</p>


<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>